= form_for [story.game, story, play], remote: true, namespace: dom_id(story) do |f|
  - error_messages_for play

  = f.hidden_field :value

  %div.playingCards
    %ul.table
      - Play::VALUES.each do |v|
        :ruby
          ten_cards_count = (v / 10.0).floor
          remainder = v % 10
          width = 5 + (1.5 * ten_cards_count)

        %div.choice{style: "width: #{width}em;", data: {value: v}}
          %div
            -# TODO: refactor this with the code in _face_up
            %ul.hand
              - ten_cards_count.times do
                %li.card.spades.rank-10
                  %span.rank 10
                  %span.suit &spades;
              - if remainder > 0 || ten_cards_count == 0
                %li.card.spades{class: "rank-#{remainder}"}
                  %span.rank= remainder
                  %span.suit &spades;
          %div.text-center= v
