= form_for([game, user]) do |f|
  - error_messages_for user

  %div.form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'

  %div.form-group
    = f.label :observer
    = f.check_box :observer

  = f.submit class: 'btn btn-primary'
