= form_tag quick_start_path do
  - error_messages_for @form.game

  = fields_for @form.game do |f|
    %div.form-group
      = f.label :name, 'Name of game:'
      = f.text_field :name, class: 'form-control'
  = fields_for @form.user do |f|
    %div.form-group
      = f.label :name, 'Your name:'
      = f.text_field :name, class: 'form-control'

  = submit_tag 'Create Game', class: 'btn btn-primary'
