%div.panel.panel-default.story{id: dom_id(story), class: story.complete? ? 'panel-info' : 'panel-primary' }
  %div.panel-heading{id: dom_id(story, 'heading'), role: 'tab'}
    %h4.panel-title
      %a.panel-toggle{ 'data-toggle' => 'collapse', 'href' => dom_id(story, '#collapse'), 'aria-expanded' => true, 'aria-controls' => dom_id(story, 'collapse') }
        Story
        = story.description
        - if story.complete?
          - if story.coefficient_of_variation >= 1.0
            -#too high! let's add warnings
            %span.label.label-warning
              = "%.1f" % story.mean
              mean
            %span.label.label-danger
              = "%.1f" % story.std_dev
              std dev

          - else
            %span.label.label-success
              = "%.1f" % story.mean
              mean

          %span.label.label-default
            = distance_of_time_in_words story.created_at, story.completed_at
            duration

  %div.panel-collapse.collapse.in{ id: dom_id(story, 'collapse'), 'aria-labelledby' => dom_id(story, 'heading') }
    %div.panel-body
      %div.plays.playingCards
        - if !story.complete? && !current_user.observer? && story.plays.find_by_user_id(current_user.id).blank?
          = render 'plays/potential'

        - story.plays.each do |play|
          = render play

    - if !story.complete? && !current_user.observer? && story.plays.find_by_user_id(current_user.id).blank?
      %div.panel-footer.create_play
        %h5 Choose card:
        = render partial: 'plays/form', locals: {story: story, play: story.plays.build}
