%div.panel.panel-default.story{id: dom_id(story), class: story.complete? ? 'panel-info' : 'panel-primary' }
  %div.panel-heading.text-center{id: dom_id(story, 'heading'), role: 'tab'}
    %h4.panel-title
      %a{ 'data-toggle' => 'collapse', 'href' => dom_id(story, '#collapse'), 'aria-expanded' => true, 'aria-controls' => dom_id(story, 'collapse') }
        Story
        = story.description
        - if story.complete?
          %span.badge= story.mean

  %div.panel-collapse.collapse.in{ id: dom_id(story, 'collapse'), 'aria-labelledby' => dom_id(story, 'heading') }
    %div.panel-body
      %div.plays.playingCards
        - if !story.complete? && !current_user.observer? && story.plays.find_by_user_id(current_user.id).blank?
          = render 'plays/potential'

        - story.plays.each do |play|
          = render play

    - if !story.complete? && !current_user.observer? && story.plays.find_by_user_id(current_user.id).blank?
      %div.panel-footer.create_play
        %h5 Choose card:
        = render partial: 'plays/form', locals: {story: story, play: story.plays.build}
